html, body, #sk_content, #sk_content .container-fluid, #sk_content .container-fluid .row {
	bottom: 0;
	height: 100%;
}

#sk_content > .container-fluid > .row > .col-sm-2 {
	background-color: var(--main-bg-color);
	bottom: 0;
	#height: 100%;
	border-width: 0 1px 0;
	border-style: solid;
	border-color: var(--main-border-color);
}