section#rg_grid div.block {
	position: relative;
	border: solid 1px var(--main-border-color);
	padding: 10px;
	padding-top: 5px;
	margin-top: 15px;
}

section#rg_grid div.block div.preview-title {
	border-bottom: solid 1px var(--main-border-color);
}

section#rg_grid div.block div.preview-title h2 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

section#rg_grid div.block div.preview-content {
	margin-top: 10px;
}

section#rg_grid div.block div.wrap-image {
	padding: 10px 0;
	overflow: hidden;
}

section#rg_grid div.block div.preview-image img {
	height: 100%;
	border: solid 1px var(--main-border-color);
}