{% extends "base.html" %}

{% block content %}

	<section id="rg_grid">
		<div class="container-fluid">
		
			{% for post in posts %}
				<div class="block">
				
				<div class="preview-title"><h2><a href="#">macOS Sierra is now live! Here’s what’s new</a></h2></div>
							
				<div class="container-fluid">
					<div class="row">
					
						<div class="wrap-image col-xs-4">
							<div class="preview-image"><img src="post1.jpg"></div>
						</div>
						
						<div class="col-xs-8">
							<div class="preview-content">Inside, you'll find smaller updns and as well as several long-anticipated features. Like most iterative releases, macOS Sierra is available for free on the Mac App Store to anyone currently running El Capitan (or earlier) version of OS X.</div>
						</div>
						
					</div>
				</div>
				
				</div>
			{% endfor %}
			
		</div>
	</section>
	
{% endblock %}

{% block subcontent %}

	<!-- Pagination -->
	<div id="page">
		<nav class="pag" aria-label="Page navigation">
			<ul class="pagination">
				<li>
					<a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
				</li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
					<a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
				</li>
			</ul>
		</nav>
	</div>

{% endblock %}